body {
    font-family:Verdana;
    background: linear-gradient(to right, navy, rgb(13, 194, 255));
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    min-height:100vh;
    min-width: 100vw;
}

.main {
    text-align:center;
    display:inline-block;
    position:absolute;
    border-radius:15px;
    background: rgba(255, 255, 255, 0.3);
    padding:15px;
    margin-top:20vw;
    font-size:2vw;
}

.galleryMain {
    text-align:center;
    display:block;
    border-radius:15px;
    background: rgba(255, 255, 255, 0.3);
    padding:15px;
    height:auto;
    margin-top: 20vw;
    margin-right: 1.5vw;
    font-size:2vw;
}

h1, h3 {
    margin:0;
    text-align:center;
    background:linear-gradient(to left, navy, rgb(13, 194, 255));
    background-clip:text;
    color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-text-stroke: 1px black;
}

p, ul, ol {
    margin:0;
    text-align: center;
    font-size:1vw;
}

.btn {
    display:inline-block;
    text-align:center;
    color:aquamarine;
    border-radius: 15px;
    background: linear-gradient(to left, navy, rgb(13, 194, 255));
    border: 2px solid black;
    text-decoration: none;
    padding:10px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    cursor:pointer;
}

.btn:hover {
    transform: scale(0.9);
}

.navBar {
    position:fixed;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align:center;
    background: linear-gradient(to left, crimson, blue);
}


.navBtn {
    background: linear-gradient(to right, crimson, blue);
    text-align:center;
    border-radius: 10px;
    border: 2px solid salmon;
    text-decoration: none;
    color: black;
    font-size:30px;
    padding-top:70px;
    transform:translateY(-60px);
    transition: transform 0.3s ease;
    width: 75%;
    cursor:pointer;
}
.navBtn:first-child {
    grid-column: auto;
}

.navBtn:hover {
    transform: translateY(-50px);
}

.galleryGrid {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    gap:20px;
    padding: 20px;
}

.galleryImg {
    max-width:18vw;
    max-height:18vw;
    display:block;
}


.galleryImg:first-child {
    grid-column: auto;
}

.filterBar {
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to right, crimson, blue);
    color: black;
    font-size: 20px;
    display:inline-block;
    position:sticky;
    top: 200px;
    width: auto;
    height: 1vw;
    border: 2px solid navy;
}

.filterBtn {
    display:inline-block;
    text-align:center;
    color:aquamarine;
    border-radius: 15px;
    background: linear-gradient(to left, navy, rgb(13, 194, 255));
    border: 2px solid black;
    text-decoration: none;
    padding:10px;
    width: auto;
    position:sticky;
    top: 200px;
    height: 2vw;
    transition: transform 0.3s ease;
    cursor:pointer;
}

.filterBtn:hover {
    transform: scale(1.1);
}

#element {
    height: 100vw;
    width: 60vw;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .galleryGrid {
        grid-template-columns: repeat(2, 1fr);
        margin-top:30vw;
    }

    .galleryImg {
        max-width: 40vw;
        max-height: 40vw;
    }

    h1, h3 {
        font-size: 6vw;
    }

    p {
        font-size: 3.5vw;
    }

    .navBar {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .navBtn {
        padding-top: 20px;
        font-size: 20px;
        transform: translateY(0);
    }

    .navBtn:hover {
        transform:scale(1.1);
    }
    .main {
        position: absolute;
        font-size: 4vw;
    }
}
