body {
    font-family:Verdana;
    background: linear-gradient(to right, navy, rgb(13, 194, 255));
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    min-height:100vh;
    min-width: 100vw;
}

.main {
    text-align:center;
    display:inline-block;
    position:absolute;
    border-radius:15px;
    background: rgba(255, 255, 255, 0.3);
    padding:15px;
    margin-top:20vw;
    font-size:2vw;
}

.main2 {
    text-align:center;
    display:inline-block;
    border-radius:15px;
    background: rgba(255, 255, 255, 0.3);
    padding:15px;
    height:auto;
    margin-top: 20vw;
    margin-right: 1.5vw;
    font-size:2vw;
}

h1, h3 {
    margin:0;
    text-align:center;
    background:linear-gradient(to left, navy, rgb(13, 194, 255));
    background-clip:text;
    color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-text-stroke: 1px black;
}

ul, ol {
    margin:0;
    text-align: center;
    font-size:1.5vw;
}

p {
    font-size:2.5vw;
    text-align:center;
    margin:0;
}

.btn {
    display:inline-block;
    text-align:center;
    color:aquamarine;
    border-radius: 15px;
    background: linear-gradient(to left, navy, rgb(13, 194, 255));
    border: 2px solid black;
    text-decoration: none;
    padding:10px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    cursor:pointer;
    z-index: 1;
}

.btn:hover {
    transform: scale(0.9);
}

.closeBtn {
    display:inline-block;
    text-align:center;
    color:darkred;
    border-radius: 15px;
    background: red;
    border: 2px solid black;
    text-decoration: none;
    font-size: 0.7em;
    padding-block: 10px;
    padding-inline: 15px;
    position:absolute;
    right:95%;
    transition: transform 0.3s ease;
    cursor:pointer;
}

.closeBtn:hover {
    transform: scale(1.1);
}

.navBar {
    position:fixed;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align:center;
    background: linear-gradient(to left, crimson, blue);
    z-index: 500;
}


.navBtn {
    background: linear-gradient(to right, crimson, blue);
    text-align:center;
    border-radius: 10px;
    border: 2px solid salmon;
    text-decoration: none;
    color: black;
    font-size:30px;
    padding-top:70px;
    transform:translateY(-60px);
    transition: transform 0.3s ease;
    width: 75%;
    cursor:pointer;
    z-index: 501;
}
.navBtn:first-child {
    grid-column: auto;
}

.navBtn:hover {
    transform: translateY(-50px);
}

.grid {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-content;
    gap:20px;
    padding: 20px;
}

.infoBtn {
    display:inline-block;
    text-align:center;
    border-radius: 10px;
    font-size: 2vw;
    color:crimson;
    background: linear-gradient(to left, navy, rgb(13, 194, 255));
    border: 2px solid black;
    text-decoration: none;
    padding:10px;
    transition: transform 0.3s ease;
    cursor:pointer;
}

.infoBtn:first-child {
    grid-column: auto;
}

.infoBtn:hover {
    transform: scale(1.1);
}

.infoImg {
    max-width:18vw;
    max-height:18vw;
    display:block;
    border-radius: 15px;
    border: 2px solid black;
}

.charImg {
    max-width:80vw;
    max-height:80vw;
    display:block;
    margin-left:8vw;
    border-radius: 15px;
    border: 2px solid black;
}

.galleryImg {
    max-width:18vw;
    max-height:18vw;
    display:block;
    border-radius: 15px;
    border: 2px solid black;
}


.galleryImg:first-child {
    grid-column: auto;
}

.filterBar {
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to right, crimson, blue);
    color: black;
    font-size: 1.5vw;
    padding:0.5vw;
    display:inline-block;
    position:sticky;
    top: 200px;
    width: auto;
    height: 1vw;
    border: 2px solid navy;
    z-index: 10;
}

.filterBtn {
    display:inline-block;
    text-align:center;
    color:aquamarine;
    border-radius: 15px;
    background: linear-gradient(to left, navy, rgb(13, 194, 255));
    border: 2px solid black;
    text-decoration: none;
    padding:10px;
    width: auto;
    position:sticky;
    top: 200px;
    height: 2vw;
    transition: transform 0.3s ease;
    cursor:pointer;
    z-index: 10;
}

.filterBtn:hover {
    transform: scale(1.1);
}

#element {
    height: 100vw;
    width: 60vw;
    margin: auto;
}

@media screen and (max-width: 800px) {

    .galleryImg {
        max-width: 35vw;
        max-height: 40vw;
    }

    .filterBar {
        padding: 2vw;
        font-size: 2em;
    }

    .filterBtn {
        line-height: 1vw;
        margin-top:2vw;
    }
}

@media screen and (max-width:800px) {
    .infoImg {
        margin-left:2vw;
        max-width: 22vw;
        max-height:20vw;
    }

    .charImg {
        max-width: 50vw;
        margin-left:15vw;
    }

    .closeBtn {
        right: 82%;
        font-size: 1.6em;
        padding-inline: 13px;
    }
}

@media screen and (max-width: 800px) {
    h1, h3 {
        font-size: 6vw;
    }

    p {
        font-size: 2em;
    }

    ul, ol {
        font-size: 2em;
    }
}

@media screen and (max-width: 800px) {
    .navBar {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .navBtn {
        padding-top: 20px;
        font-size: 20px;
        transform: translateY(0);
    }

    .navBtn:hover {
        transform:scale(1.1);
    }
}

@media screen and (max-width: 800px) {
    .main {
        position: absolute;
        font-size: 4vw;
        margin-top:70vw;
        margin-right: 5vw;
    }

    .main2 {
        margin-top: 70vw;
        width: 80%;
        margin-right: 7vw;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
